- comment_id = "comment_#{comment_counter + 1}"
- name = comment.user.name rescue "Unknown"
%aside.comment{:id=>comment_id, :class=>comment.color_class}
  %header
    %a{:href=>"##{comment.anchor}"} #{name} #{comment_verb comment.id.to_s.hex.to_i}
  .content
    = simple_format comment.content
  %footer
    = comment.created_at_formatted true
    %span.admin
      = link_to raw("<i class='icon-trash'></i>"), comment, method: :delete, data: { confirm: 'Are you sure?' }
      = link_to raw("<i class='icon-pencil'></i>"), edit_comment_path(comment)
