%article.post{:id=>"post_#{post.id}", :class=>post.color_class}
  %header
    %h1
      %a{:href => post_path(post)}
        != post.title
        %time= post.created_at_formatted params[:action] == 'show'
  %section
    - if can? :read, post
      != post.content

      %footer.post_meta
        = link_to post.user.name, posts_path(:user=>post.user), :class=>"post_user"
        - unless params[:action] == "show"
          = link_to pluralize(post.comments.length, "comment"), post_path(post, :anchor=>"comments"), :class=>"post_comment_count"
        - if post.tags.length > 0
          %span.post_tags= tag_list(post.tags, params[:action] == "show"? 82 : 70)
        - if params[:action] == "show"
          %span.admin
            - if can? :destroy, post
              = link_to raw("<i class='icon-trash'></i>"), post, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete'
            - if can? :edit, post
              = link_to raw("<i class='icon-pencil'></i>"), edit_post_path(post), :title => 'Edit'
    - else
      %p
        Old content is locked.
        %a{:href => "#"} Request access to old content
