%article.post{:id=>"post_#{post.id}", :class=>post.color_class, :itemprop => "blogPost", :itemscope => true, :itemtype => "http://schema.org/BlogPosting"}
  %header
    %h1
      %a{:href => post_path(post)}
        %div{:itemprop => "headline"}
          != post.title
        %time{:itemprop => "datePublished", :datetime => post.created_at.iso8601}= post.created_at_formatted params[:action] == 'show'
  %section
    - if can? :read, post
      %div{:itemprop => "articleBody"}
        != format_post post

      %footer.post_meta
        %span{:itemprop => "author", :itemscope => true, :itemtype => "http://schema.org/Person"}
          %i.icon-user
          %a.post_user{:href => posts_path(:user=>post.user.slug)}
            %span{:itemprop => "name"}= post.user.name
          - if post.user.google_plus_url
            %a.hidden{:href => post.user.google_plus_url + "?author", :rel => "author", :itemprop => "url"} Google+ Profile
        - unless params[:action] == "show"
          %i.icon-comments-alt
          = link_to pluralize(post.comments.length, "comment"), post_path(post, :anchor=>"comments"), :class=>"post_comment_count"
        - if post.tags.length > 0
          %i.icon-tags
          %span.post_tags{:itemprop => "keywords"}= tag_list(post.tags, params[:action] == "show"? 82 : 70)
        - if params[:action] == "show"
          %span.admin
            - if can? :destroy, post
              = link_to raw("<i class='icon-trash'></i>"), post, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'Delete'
            - if can? :edit, post
              = link_to raw("<i class='icon-pencil'></i>"), edit_post_path(post), :title => 'Edit'
    - else
      %p
        Old content is locked.
        - if @current_user
          %a{:href => request_access_path} Request access to old content
        - else
          %a{:href => request_access_path} Login to request access to old content

  %meta{:content => post_url(post), :itemprop => "url"}
