%article.post{:id=>"post_#{post.id}", :class=>post.color_class}
  %header
    %h1
      %a{:href => blog_path(post)}
        != post.title
        %time= post.created_at_formatted params[:action] == 'show'
  %section
    != post.content
  %footer.post_meta
    = link_to post.user.name, blog_index_path(:user=>post.user), :class=>"post_user"
    = link_to pluralize(post.comments.length, "comment"), blog_path(post, :anchor=>"comments"), :class=>"post_comment_count"
    - if post.tags.length > 0
      %span.post_tags= tag_list(post.tags, 70)
