- title strip_tags "Blog - #{@post.title}"
- page_title strip_tags "Blog - #{@post.title}"
- @color_date = @post.day_of_year

= render :partial => "post", :locals => { :post => @post }
= render :partial => "post_separator"

#comments
  %h2 #{pluralize @post.comments.length, "Comment"}

  = render :partial => "comment", :collection => @post.comments, :spacer_template => "comment_separator"

