- title strip_tags "Blog - #{@post.title}"
- page_title strip_tags "Blog - #{@post.title}"

= render :partial => "post", :locals => { :post => @post }
= render :partial => "post_separator"

#comments
  - if (can? :read, @post) && @post.comments.length > 0
    %h2 #{pluralize @post.comments.length, "Comment"}
    = render :partial => "comments/comment", :collection => @post.comments, :spacer_template => "comments/comment_separator"
    = render :partial => "post_separator"
  - if can? :create, Comment
    = render "comments/form", :comment => @comment, :post => @post

