%article.post{:id=>"post_#{post.slug}"}
  :css
    #post_#{post.slug} h1 a:link, #post_#{post.slug} h1 a:visited {
      color: #369b55;
    }

    #post_#{post.slug} h1 a:hover, #post_#{post.slug} h1 a:active {
      color: #c2552e !important;
    }

    #post_#{post.slug} a:hover, #post_#{post.slug} a:active {
      color: #369b55;
    }
  %header
    %h1
      %a{:href => post.url}
        != post.title
        %time= post.created_at_formatted
  %section
    != post.content
  %footer.post_meta
    %a.post_user{:href => post.user.url}= post.user.name
    %a.post_comment_count{:href => "#{post.url}#comments"} #{post.comments.length} comments
    %span.post_tags
      \ 
      %a{:href => "/blog/tags/fun"} fun
      \ 
      %a{:href => "/blog/tags/life"} life