- @posts.each do |post|
  %style{:media => "screen", :type => "text/css"}
    \#post_1452 h1 a:link, #post_1452 h1 a:visited {
    color: #369b55;
    }

    \#post_1452 h1 a:hover, #post_1452 h1 a:active {
    color: #c2552e !important;
    }

    \#post_1452 a:hover, #post_1452 a:active {
    color: #369b55;
    }
  %article#post_1452.post
    %header
      %h1
        %a{:href => post.url}
          != post.title
          %time= post.created_at_formatted
    %section
      != post.content
    %footer.post_meta
      %a.post_user{:href => post.user.url}= post.user.name
      %a.post_comment_count{:href => "#{post.url}#comments"} #{post.comments.length} comments
      %span.post_tags
        \ 
        %a{:href => "/blog/tags/fun"} fun
        \ 
        %a{:href => "/blog/tags/life"} life
  .hr.small.hr1
