- for log in @comment_logs
  - comment = log.loggable
  %article.comment{:class=>comment.color_class}
    %a.comment_link{:href=>"#{comment.url}#comments"}
      %time= comment.created_at_formatted

      %section
        = truncate(comment.content, :length => 70, :separator => ' ', :omission => ' [...]')

      %footer.comment_meta
        %span.comment_user #{log.user.name},
        %span.comment_title
          = strip_tags comment.post.title
  .hr.tiny
