#ribbon
  %a#ribbon_link{:href=>"http://fadelight.com/?utm_source=squidtree&utm_medium=ad&utm_content=footer&utm_campaign=Squidtree"}

#footer_inner
  %aside#footer_left
    %h1 Recent Comments
    - for log in @comment_logs
      - comment = log.loggable
      %article.comment{:class=>comment.color_class}
        %a.comment_link{:href=>"#{comment.url}#comments"}
          %time= comment.created_at_formatted

          %section
            = truncate(strip_tags(format_comment(comment)), :length => 70, :separator => ' ', :omission => ' [...]')

          %footer.comment_meta
            %span.comment_user #{log.user.name},
            %span.comment_title
              = strip_tags comment.post.title
      .hr.tiny

  %aside#footer_right
    = render_cell :posts, :index

    %h1 Social Obligations

    %p
      %a{:href=>"http://www.facebook.com/shaineh", :target=>"_blank"}><
        = image_tag("template/f.gif", :class=>"social", :alt=>"Follow Shaine Hatch on Facebook", :title=>"Friend me on Facebook!")
      %a{:href=>"/feed", :target=>"_blank"}><
        = image_tag("template/rss.gif", :class=>"social", :alt=>"Follow Squidtree via RSS", :title=>"Follow Squidtree via RSS")

  .clear

#footer_bottom
\</html>
